In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\IV_Mastertheis\Merged_kd_data.csv')

# List of columns where you want to remove '.'
columns_to_clean = ['gesbeitr', 'SCHAGESA', 'KOSTGESA', 'KOSTGEKA', 'kosten_verw', 'kosten_prov', 'SDBEITR5', 'KILOMETERSTAND']

# Remove '.' from each column (if any) and optionally convert to numeric
for col in columns_to_clean:
    # Convert to string, replace '.', and then convert to numeric (if needed)
    df[col] = df[col].astype(str).str.replace('.', '', regex=False)
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\VIP\AppData\Local\Temp\ipykernel_20696\2742015637.py:1: SyntaxWarning: invalid escape sequence '\I'
  df = pd.read_csv('D:\IV_Mastertheis\Merged_kd_data.csv')
C:\Users\VIP\AppData\Local\Temp\ipykernel_20696\2742015637.py:1: DtypeWarning: Columns (18,19,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:\IV_Mastertheis\Merged_kd_data.csv')

,pvsnr,vsnr,vm,status,aktiv,akt_kuka,spartek,beginn,datum_s,vtr_dau,...,ort,plz,alter,anr,SDBEITR5,HERSTELLER,HSN,TSN,ELEKTRO,KILOMETERSTAND
0,1012851,01012851-007,00 000 0101,Aktiv,1,1,VK,01.01.2025,NaN,89.0,...,Holt,24994,72.0,71295/ Herr,"149,44",BMW BAYERISCHE MOTORENWER,5.0,BKU,N,246553
1,1012851,01012851-007,00 000 0101,Aktiv,1,1,KH,01.01.2025,NaN,89.0,...,Holt,24994,72.0,71295/ Herr,"54,29",BMW BAYERISCHE MOTORENWER,5.0,BKU,N,246553
2,1013051,01013051-006,00 000 4305,Aktiv,1,1,VK,01.01.2025,NaN,89.0,...,Flensburg,24944,74.0,71296/ Frau,"114,56",BMW BAYERISCHE MOTORENWER,5.0,CZT,N,180
3,1013051,01013051-006,00 000 4305,Aktiv,1,1,KH,01.01.2025,NaN,89.0,...,Flensburg,24944,74.0,71296/ Frau,"59,03",BMW BAYERISCHE MOTORENWER,5.0,CZT,N,180
4,1020887,01020887-007,00 000 0119,Aktiv,1,1,KH,01.03.2025,NaN,30.0,...,Bel,24401,92.0,71295/ Herr,"3,28",NINGBO,901.0,NaN,N,nan

In [3]:
pd.set_option('display.max_columns', None)
df.head()

,pvsnr,vsnr,vm,status,aktiv,akt_kuka,spartek,beginn,datum_s,vtr_dau,kund_beg,vtrweg,STORNGRD,gesbeitr,SDANZAHL,SCHAGESA,KOSTGESA,KOSTGEKA,kosten_verw,kosten_prov,gfeld,ort,plz,alter,anr,SDBEITR5,HERSTELLER,HSN,TSN,ELEKTRO,KILOMETERSTAND
0,1012851,01012851-007,00 000 0101,Aktiv,1,1,VK,01.01.2025,NaN,89.0,11.05.1977,V,NaN,59777,0.0,0,0,0,2385,1523,70271/ Selbstndige,Holt,24994,72.0,71295/ Herr,"149,44",BMW BAYERISCHE MOTORENWER,5.0,BKU,N,246553
1,1012851,01012851-007,00 000 0101,Aktiv,1,1,KH,01.01.2025,NaN,89.0,11.05.1977,V,NaN,21715,0.0,0,0,0,941,457,70271/ Selbstndige,Holt,24994,72.0,71295/ Herr,"54,29",BMW BAYERISCHE MOTORENWER,5.0,BKU,N,246553
2,1013051,01013051-006,00 000 4305,Aktiv,1,1,VK,01.01.2025,NaN,89.0,17.07.1973,M,NaN,45825,0.0,0,0,0,1034,1316,70271/ Selbstndige,Flensburg,24944,74.0,71296/ Frau,"114,56",BMW BAYERISCHE MOTORENWER,5.0,CZT,N,180
3,1013051,01013051-006,00 000 4305,Aktiv,1,1,KH,01.01.2025,NaN,89.0,17.07.1973,M,NaN,2361,0.0,0,0,0,675,655,70271/ Selbstndige,Flensburg,24944,74.0,71296/ Frau,"59,03",BMW BAYERISCHE MOTORENWER,5.0,CZT,N,180
4,1020887,01020887-007,00 000 0119,Aktiv,1,1,KH,01.03.2025,NaN,30.0,10.02.1967,V,NaN,393,0.0,0,0,0,057,028,70270/ Privatkunden,Bel,24401,92.0,71295/ Herr,"3,28",NINGBO,901.0,NaN,N,nan